.pagging {
    display: flex;
    align-items: center;
    justify-content: center;
    .previous {
        @include adaptiveValue("margin-right", 20, 15, 767.98, 479.98, 1);
    }
    .next {
        @include adaptiveValue("margin-left", 20, 15, 767.98, 479.98, 1);
    }

    &__arrow {
        width: rem(30);
        height: rem(25);
        cursor: pointer;
        img {
            max-width: 100%;
        }
        &_prev {
            transform: rotate(-180deg);
        }
    }
    &__list {
        margin: 0px rem(35);
        display: flex;
        @media (max-width: $mobileSmall) {
            margin: 0px rem(7);
        }
    }
    &__item {
        cursor: pointer;
        @include adaptiveValue("width", 33, 25, 767.98, 479.98, 1);
        @include adaptiveValue("height", 33, 25, 767.98, 479.98, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        @include adaptiveValue("font-size", 18, 16, 767.98, 479.98, 1);
        line-height: math.div(24, 18);
        font-weight: 900;
        color: $gray_01;
        transition: all 0.3s ease 0s;
        &._active {
            background-color: $secondary;
            color: $mainColor;
        }
    }
}
