.select {
    position: relative;
    &__body {
    }

    &__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(10);
        padding: 0px rem(15);
        height: rem(30);
        background-color: $white;
    }

    &__value {
        line-height: 1.2;
        color: $primary_03;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary_04;
            }
        }
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(11);
        height: rem(7);
        transition: transform 0.2s ease 0s;
        ._select-active & {
            transform: rotate(-180deg);
        }
        img {
            max-width: 100%;
        }
    }

    &__options {
        z-index: 5;
        position: absolute;
        top: 100%;
        box-shadow: 0 0 rem(7) rgba(0, 0, 0, 0.2);
        min-width: 100%;
        left: 0;
        background-color: $white;
        padding-top: rem(10);
        padding-bottom: rem(10);
    }

    &__option {
        width: 100%;
        cursor: pointer;
        text-align: left;
        padding: rem(5) rem(15);
        margin: 0px;
        line-height: 1.2;
        font-size: rem(14);
        color: $gray_03;

        transition: all 0.3s ease 0s;
        background-color: transparent;
        @media (any-hover: hover) {
            &:hover {
                background: #d9d9d9;
            }
        }
    }
}
