//========================================================================================================================================================
.filter {
    margin: -14px 0px 40px 0px;
    border: 4px solid #72c9d4;
    @media (max-width: $tablet) {
        margin: 20px 0px 20px 0px;
    }
    &__title {
        padding: 25px 14px 5px 14px;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #36949f;
        transition: all 0.7s ease 0s;
        @media (max-width: $tablet) {
            padding: 25px 14px 25px 14px;
            &._active {
                padding: 25px 14px 5px 14px;
            }
        }
    }
    &__content {
        @media (max-width: $tablet) {
            display: none;
        }
        @media (min-width: $tablet) {
            display: block !important;
        }
    }
    &__body {
    }

    &__section {
    }

    &__footer {
        margin: 25px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        padding: 15px;
        text-transform: none;
    }
}

.section-filter {
    padding: 15px;
    border-bottom: 1px solid #72c9d4;
    &__title {
        font-size: 16px;
        line-height: 22px;
        font-weight: 900;
        color: #36949f;
        min-height: 30px;
        display: flex;
        align-items: center;
        transition: all 0.3s ease 0s;
        justify-content: space-between;
        &._spoller {
            cursor: pointer;
            &::after {
                // background: url("../img/catalog/icons/arrow_spoller.png") center no-repeat;
                content: "";
                transition: all 0.3s ease 0s;
                flex: 0 0 30px;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                border: 1px solid #72c9d4;
            }
            &._active {
                color: $gray_01;
                &::after {
                    border: 1px solid #cbcbcb;
                    // background: url("../img/catalog/icons/arrow_spoller_hv.png") center no-repeat;
                }
            }
        }
        &._spoller + .section-filter__body {
            display: none;
        }
    }

    &__body {
        padding: 20px 0px 0px 0px;
    }
    &__checkbox {
        display: block;
        margin: 0px 0px 15px 0px;
        &:last-child {
            margin: 0px 0px 0px 0px;
        }
    }
}

.values-price-filter {
    display: flex;
    margin: 0px -15px;
    &__column {
        padding: 0px 15px;
        flex: 0 1 50%;
        display: flex;
        align-items: center;
    }

    &__label {
        font-size: 12px;
        font-weight: 300;
        color: #999999;
    }

    &__input {
        flex: 1 1 auto;
        padding: 0px 0px 0px 10px;
        text-align: center;

        background-color: rgba(0, 0, 0, 0);
        .input {
            font-size: 12px;
            height: 20px;
            padding: 0px 10px;
        }
    }
}

.compare-filter {
    &__items {
        margin: 0px 0px 20px 0px;
        padding: 0px 14px 0px 0px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 20px 0px;
        &:last-child {
            margin: 0px 0px 0px 0px;
        }
    }

    &__link {
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;
        text-decoration: underline;
        transition: all 0.4s ease 0s;
        color: #1ab9ce;
        @media (min-width: $tablet) {
            &:hover {
                color: #959595;
            }
        }
    }

    &__remove {
        flex: 0 0 10px;
        width: 10px;
        height: 10px;
        margin: 3px 0px 0px 5px;
        // background: url("../img/catalog/icons/remove.png") 0 0 no-repeat;
        transition: all 0.4s ease 0s;
        @media (min-width: $tablet) {
            &:hover {
                // background: url("../img/catalog/icons/remove_hv.png") 0 0 no-repeat;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33px;
        background-color: #1ab9ce;
        padding: 0px 13px;
        border-radius: 25px;
        transition: all 0.4s ease 0s;
        @media (min-width: $tablet) {
            &:hover {
                background-color: #e6e6e6;
                span {
                    color: #959595;
                }
            }
        }
        span {
            // background: url("../img/catalog/icons/compare.png") left no-repeat;
            padding: 0px 0px 0px 30px;
            line-height: 33px;
            display: inline-block;
            font-weight: 900;
            text-transform: uppercase;
            color: #ffffff;
        }
    }

    &__clean {
        // background: #e6e6e6 url("../img/catalog/icons/trash.png") center no-repeat;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.4s ease 0s;
        @media (min-width: $tablet) {
            &:hover {
                // background: #1ab9ce url("../img/catalog/icons/trash.png") center no-repeat;
            }
        }
    }
}

//========================================================================================================================================================

.catalog {
    margin-bottom: rem(170);
    &__title {
        font-family: UniSans;
        font-size: rem(30);
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $gray_04;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__actions {
    }

    &__navi {
    }

    &__products {
        &_grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
            @include adaptiveValue("gap", 30, 20, 1170, 767.98, 1);
        }
        &_list {
            .item-product {
                display: flex;
                flex-direction: row;
                &:not(:last-child) {
                    margin-bottom: rem(30);
                }
                transition: all 0s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        .item-product__labels {
                            opacity: 1;
                            transition: all 0s ease 0s;
                        }
                        .item-product__body {
                            opacity: 1;
                            transition: all 0s ease 0s;
                        }
                    }
                }
                &__title {
                }

                &__image {
                    flex: 0 0 rem(260);
                    transition: all 0s ease 0s !important;
                }

                &__hover {
                    width: 100%;
                }
            }

            .hover-item-product {
                display: none;
            }
        }
    }
}

//========================================================================================================================================================

.actions-catalog {
    align-items: center;
    background-color: $gray_05;
    margin-bottom: rem(15);
    padding: rem(10) rem(20);
    @media (min-width: $mobileSmall) {
        display: flex;
    }
    &__order {
        @media (min-width: $mobileSmall) {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
        }
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(10);
        }
    }

    &__label {
        font-weight: 900;
        color: $gray_01;
        @media (min-width: $mobileSmall) {
            margin-right: rem(20);
        }
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(10);
            text-align: center;
        }
    }

    &__select {
        @media (max-width: $mobileSmall) {
            margin: 0px auto;
            text-align: center;
        }
        select {
            min-width: rem(160);
            font-size: rem(14);
            padding: rem(10);
            line-height: 1.2;
            font-weight: 300;
            color: $gray_02;
            letter-spacing: 0.025em;
        }
    }

    &__view {
        display: flex;
        align-items: center;
        @media (max-width: $mobileSmall) {
            justify-content: center;
        }
    }

    &__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: rem(36);
        height: rem(36);
        margin-left: rem(7);
        transition: all 0.3s ease 0s;
        background-color: $gray_03;
        &._active {
            background-color: $primary_03;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $primary_03;
            }
        }
        @media (max-width: $mobileSmall) {
            margin-right: rem(10);
        }
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.navi-catalog {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 10px 15px;
    @media (min-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_bottom {
        margin: 0px 0px 170px 0px;
        @media (max-width: $pc) {
            margin: 0px 0px 100px 0px;
        }
        @media (max-width: $tablet) {
            margin: 0px 0px 50px 0px;
        }
        @media (max-width: $mobile) {
            margin: 0px 0px 25px 0px;
        }
    }
    &_top {
        margin: 0px 0px 20px 0px;
    }
    &__show {
    }

    &__pages {
    }
}

.show-catalog {
    display: flex;
    align-items: center;
    @media (max-width: 600px) {
        justify-content: center;
        margin: 0px 0px 15px 0px;
    }

    &__label {
        font-weight: 900;
        color: $gray_01;
        margin: 0px 20px 0px 0px;
    }
    &__select {
    }
}
