//========================================================================================================================================================
.filter {
    margin: rem(-14) 0px rem(40) 0px;
    border: rem(4) solid $primary_03;
    @media (max-width: $tablet) {
        margin: rem(20) 0px;
    }
    &__title {
        padding: rem(25) rem(14) rem(25) rem(14);
        font-size: rem(24);
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $primary_01;
        transition: all 0.7s ease 0s;
    }
    &__content {
    }

    &__body {
    }

    &__section {
    }

    &__footer {
        margin: rem(25) rem(15);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        padding: rem(15);
        text-transform: none;
    }
}

.section-filter {
    padding: rem(15);
    border-bottom: rem(1) solid $primary_03;
    &__title {
        font-size: rem(16);
        line-height: math.div(22, 16);
        font-weight: 900;
        color: $primary_01;
        min-height: rem(30);
        display: flex;
        align-items: center;
        transition: all 0.3s ease 0s;
        justify-content: space-between;
        &[data-spoller] {
            cursor: pointer;
            &._spoller-active {
                color: $gray_01;
            }
        }
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease 0s;
        flex: 0 0 rem(30);
        border-radius: 50%;
        width: rem(30);
        height: rem(30);
        border: rem(1) solid $primary_03;
        ._spoller-active & {
            transform: rotate(90deg);
            border: rem(1) solid $gray_03;
        }
    }

    &__body {
        padding-top: rem(20);
    }
    &__checkbox {
        display: block;
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }
}

.values-price-filter {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(30);
    &__column {
        display: flex;
        align-items: center;
    }

    &__label {
        font-size: rem(12);
        font-weight: 300;
        color: $gray_03;
    }

    &__input {
        flex: 1 1 auto;
        text-align: center;
        padding-left: rem(10);
        .input {
            font-size: rem(12);
            height: rem(20);
            padding: 0px rem(10);
        }
    }
}

.compare-filter {
    &__items {
        margin-bottom: rem(20);
        padding-right: rem(14);
    }

    &__item {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__link {
        font-size: rem(12);
        line-height: math.div(16, 12);
        font-weight: 300;
        text-decoration: underline;
        transition: all 0.4s ease 0s;
        color: $primary_03;
        @media (min-width: $tablet) {
            &:hover {
                color: $gray_03;
            }
        }
    }

    &__remove {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 rem(10);
        transition: all 0.3s ease 0s;
        img {
            max-width: 100%;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(10);
        height: rem(33);
        background-color: $primary_03;
        padding: 0px rem(13);
        border-radius: rem(25);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $gray_03;
            }
        }
        img {
            max-width: 100%;
        }
        span {
            line-height: rem(33);
            display: inline-block;
            font-weight: 900;
            text-transform: uppercase;
            color: $white;
            transition: all 0.3s ease 0s;
        }
    }

    &__clean {
        width: rem(40);
        height: rem(40);
        border-radius: 50%;
        transition: all 0.3s ease 0s;
        background-color: $gray_04;
        @media (any-hover: hover) {
            &:hover {
                background-color: $gray_05;
            }
        }
    }
}

//========================================================================================================================================================

.catalog {
    @include adaptiveValue("margin-bottom", 170, 50, 991.98, 479.98, 1);
    &__title {
        font-family: UniSans;
        font-size: rem(30);
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $gray_04;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__actions {
    }

    &__navi {
    }

    &__products {
        &_grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
            @include adaptiveValue("gap", 30, 20, 1170, 767.98, 1);
            &._one {
                @media (min-width: em(650)) {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
        &_list {
            @media (max-width: em(650)) {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
                @include adaptiveValue("gap", 30, 20, 1170, 767.98, 1);
            }
            @media (min-width: em(650)) {
                .item-product {
                    display: flex;
                    flex-direction: row;
                    &:not(:last-child) {
                        margin-bottom: rem(30);
                    }
                    transition: all 0s ease 0s;

                    @media (any-hover: hover) {
                        &:hover {
                            .item-product__labels {
                                opacity: 1;
                                transition: all 0s ease 0s;
                            }
                            .item-product__body {
                                opacity: 1;
                                transition: all 0s ease 0s;
                            }
                        }
                    }
                    &__title {
                    }

                    &__image {
                        flex: 0 0 rem(260);
                        transition: all 0s ease 0s !important;
                    }

                    &__hover {
                        width: 100%;
                    }
                }

                .hover-item-product {
                    display: none;
                }
            }
        }
    }
}

//========================================================================================================================================================

.actions-catalog {
    align-items: center;
    background-color: $gray_05;
    margin-bottom: rem(15);
    padding: rem(10) rem(20);
    @media (min-width: $mobileSmall) {
        display: flex;
    }
    &__order {
        @media (min-width: $mobileSmall) {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
        }
        @media (max-width: em(650)) {
            justify-content: center;
        }
    }

    &__label {
        font-weight: 900;
        color: $gray_01;
        @media (min-width: $mobileSmall) {
            margin-right: rem(20);
        }
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(10);
            text-align: center;
        }
    }

    &__select {
        min-width: rem(170);
        @media (max-width: $mobileSmall) {
            margin: 0px auto;
            text-align: center;
        }
    }

    &__view {
        display: flex;
        align-items: center;
        @media (max-width: em(650)) {
            display: none;
        }
    }

    &__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: rem(36);
        height: rem(36);
        margin-left: rem(7);
        transition: all 0.3s ease 0s;
        background-color: $gray_03;
        &._active {
            background-color: $primary_03;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $primary_03;
            }
        }
        @media (max-width: $mobileSmall) {
            margin-right: rem(10);
        }
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.navi-catalog {
    border-top: rem(1) solid $gray_05;
    border-bottom: rem(1) solid $gray_05;
    padding: rem(10) rem(15);
    @media (min-width: em(650)) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_bottom {
        @include adaptiveValue("margin-bottom", 170, 25, 1170, 767.98, 1);
    }
    &_top {
        margin-bottom: rem(20);
    }
    &__show {
    }

    &__pages {
    }
}

.show-catalog {
    display: flex;
    align-items: center;
    @media (max-width: em(650)) {
        justify-content: center;
        margin-bottom: rem(15);
    }

    &__label {
        font-weight: 900;
        color: $gray_01;
        margin-right: rem(20);
    }

    &__select {
        border: rem(2) solid $gray_05;
    }
}
