.slider-controll {
    &__arrow {
        width: rem(35);
        height: rem(29);
        cursor: pointer;
        transition: all 0.3s ease 0s;
        opacity: 1;
        @media (any-hover: hover) {
            &:hover {
                opacity: 0.8;
            }
        }
        img {
            max-width: 100%;
        }
        &_prev {
            transform: rotate(-180deg);
        }
        &_next {
        }
    }

    &__info {
        padding: 0px rem(20);
        letter-spacing: 0.025em;
        font-weight: 500;
        color: $gray_03;
        .swiper-pagination-current {
            font-size: rem(30);
            color: $gray_01;
            line-height: 1.2;
            font-weight: 900;
        }
    }
}

.spinner {
    text-align: center;
    margin: 0px auto;
    width: rem(150);
    height: rem(150);
    svg {
        max-width: 100%;
    }
}

.rub {
    &::after {
        content: " ₽";
    }
}

//========================================================================================================================================================

.searchbar {
    display: flex;
    position: relative;
    &__title {
        cursor: pointer;
        background-color: $gray_05;
        display: flex;
        gap: rem(13);
        align-items: center;
        font-weight: 300;
        color: $gray_02;
        height: rem(40);
        padding: 0px rem(14);
        justify-content: center;
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 rem(17);
    }

    &__text {
        border-bottom: rem(1) dotted;
    }

    &__arrow {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 rem(10);
        transition: all 0.5s ease 0s;
        ._spoller-active & {
            transform: rotate(-180deg);
        }
    }

    &__categories {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__input {
        position: relative;
        flex: 1 1 auto;
        border-top: rem(2) solid $gray_05;
        border-bottom: rem(2) solid $gray_05;
        .input {
            height: 100%;
        }
        &._error {
            border-top: rem(2) solid red;
        }
        @media (max-width: $mobile) {
            border-left: rem(2) solid $gray_05;
        }
    }

    &__error {
        position: absolute;
        top: 50%;
        right: rem(10);
        z-index: 8;
        color: red;
        transform: translate(0px, -50%);
        font-size: rem(12);
        line-height: math.div(18, 12);
    }

    &__btn {
    }
}

.categories-search {
    background-color: $white;
    border: rem(1) solid $gray_05;
    &::after {
        content: "";
        background-color: $secondary;
        position: absolute;
        width: 100%;
        height: rem(4);
        bottom: 0;
        left: 0;
    }

    &__row {
        @media (min-width: $mobile) {
            display: flex;
        }
        @media (max-width: $mobile) {
            margin: rem(20) 0px;
        }
    }
    &__column {
        flex: 0 1 33.333%;
        padding: rem(30);
        border-right: rem(1) solid $gray_05;
        &:last-child {
            border: 0;
        }
        @media (max-width: $tablet) {
            padding: rem(15) rem(20);
        }
        @media (max-width: $mobile) {
            padding: 0px rem(20) rem(15) rem(20);
        }
    }

    &__list {
    }

    &__checkbox {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 15, 1170, 767.98, 1);
        }
    }
}

//========================================================================================================================================================

.item-product {
    position: relative;
    padding: rem(15) 0;
    border: rem(1) solid $gray_05;
    display: flex;
    flex-direction: column;
    .submenu-side__product & {
        padding: rem(15);
    }
    @media (any-hover: hover) {
        &:hover {
            .item-product__labels {
                opacity: 0;
                .submenu-side__product & {
                    opacity: 1;
                }
            }
            .item-product__body {
                opacity: 0;
                .submenu-side__product & {
                    opacity: 1;
                }
            }
            .item-product__hover {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__labels {
        transition: all 0.5s ease 0s;
        position: absolute;
        top: rem(15);
        left: rem(15);
    }

    &__label {
        font-weight: 900;
        color: $mainColor;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: rem(15);
        text-transform: uppercase;
        margin-bottom: rem(10);
        height: rem(20);
        padding: 0px rem(15);
        background-color: $secondary;
    }

    &__image {
        height: rem(260);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(10) 0px;
        .submenu-side__product & {
            padding: 0;
        }
        img {
            max-width: 100%;
            max-height: rem(240);
        }
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease 0s;
        padding: 0px rem(25);
        .submenu-side__product & {
            padding: 0;
        }
    }

    &__title {
        flex: 1 1 auto;
        font-size: rem(16);
        line-height: math.div(24, 16);
        font-weight: 300;
        color: #36949f;
        display: inline-block;
        margin-bottom: rem(5);
        h4 {
            display: block;
            font-weight: 900;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    color: $secondary;
                }
            }
        }
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__old-price {
        flex: 1 1 100%;
        text-align: right;
        font-size: rem(18);
        font-weight: 300;
        text-decoration: line-through;
        color: $gray_03;
        &::after {
            font-size: rem(14);
        }
    }

    &__add {
        width: rem(40);
        height: rem(40);
    }

    &__price {
        font-size: rem(24);
        font-weight: 900;
        color: $gray_01;
        &::after {
            font-size: rem(20);
        }
    }
    &__hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.5s ease 0s;
        opacity: 0;
        visibility: hidden;
    }
}

.hover-item-product {
    background-color: rgba(0, 0, 0, 0.85);
    border: rem(5) solid $secondary;
    padding: rem(17) rem(20);
    display: flex;
    flex-direction: column;
    .submenu-side__product & {
        display: none;
    }
    &__title {
        font-size: rem(16);
        line-height: math.div(24, 16);
        font-weight: 300;
        color: $gray_04;
        margin-bottom: rem(25);
        h4 {
            color: $mainColor;
            font-weight: 900;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    color: $secondary;
                }
            }
        }
    }

    &__options {
        flex: 1 1 auto;
    }

    &__cart {
        width: rem(57);
        height: rem(57);
        margin: 0px auto rem(25) auto;
        background-color: transparent;
        img {
            max-width: 100%;
        }
        &_catalog {
            margin: 0;
        }
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: rem(7);
    }

    &__old-price {
        flex: 1 1 100%;
        text-align: right;
        font-size: rem(18);
        font-weight: 300;
        text-decoration: line-through;
        color: $gray_03;
        &::after {
            font-size: rem(14);
        }
    }

    &__compare {
        margin-top: rem(20);
        padding: rem(2) 0px rem(2) rem(30);
        span {
            display: inline-block;
            font-weight: 300;
            color: $mainColor;
            transition: all 0.3s ease 0s;
            border-bottom: rem(1) dashed;
            @media (any-hover: hover) {
                &:hover {
                    color: $secondary;
                }
            }
        }
    }

    &__stock {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mainColor;
        padding: rem(6) rem(12);
        border-radius: rem(20);
        color: $secondary;
        &_no {
            font-size: rem(12);
        }
    }

    &__price {
        font-size: rem(24);
        font-weight: 900;
        &::after {
            font-size: rem(20);
        }
    }
}
.options-item-product {
    &__item {
        margin-bottom: rem(10);
    }

    &__label {
        margin-bottom: rem(5);
    }

    &__value {
        font-weight: 900;
        color: $secondary;
    }
}
