.footer {
    &__content {
        padding: 0;
        @media (max-width: 1200px) {
            padding: 0 10px;
        }
    }

    &__body {
        @media (max-width: 1200px) {
            margin: 0px -15px;
        }
        @media (min-width: $tablet) {
            display: flex;
            justify-content: center;
            margin: 0px -30px;
        }
    }

    &__column {
        padding: 0px 30px;
        margin: 0px 0px 25px 0px;
        flex: 0 1 50%;
        @media (max-width: 1200px) {
            padding: 0px 15px;
        }
        &:first-child {
            display: flex;
            flex-direction: column;
        }
    }

    &__block {
    }

    &__cards {
        display: flex;
        @media (max-width: $tablet) {
            justify-content: center;
            align-items: center;
        }
    }

    &__icon {
        margin: 0px 25px 0px 0px;
        &:last-child {
            margin: 0px 0px 0px 0px;
        }
    }

    &__widgets {
        display: flex;
        justify-content: center;
        @media (min-width: $tablet) {
            justify-content: flex-end;
        }
        @media (max-width: 560px) {
            display: block;
        }
    }

    &__widget-item {
        margin: 0px 0px 0px 35px;
        &:first-child {
            margin: 0px 0px 0px 0px;
        }
        @media (max-width: 1200px) {
            margin: 0px 0px 0px 15px;
        }
        @media (max-width: $tablet) {
            margin: 0px 0px 0px 35px;
        }
        @media (max-width: 560px) {
            margin: 0px 0 20px 0;
            text-align: center;
            &:first-child {
                margin: 0px 0 20px 0;
            }
        }
    }

    &__bottom {
        border-top: 1px solid #dadada;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $mobileSmall) {
            display: block;
            text-align: center;
        }
    }

    &__copy {
        display: inline-block;
        flex: 1 1 auto;
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
        color: #999999;
        @media (max-width: $mobileSmall) {
            margin: 0px 0px 10px 0px;
        }
    }

    &__socials {
    }
}
.block-footer {
    display: flex;
    flex: 1 1 auto;
    @media (max-width: 560px) {
        display: block;
    }
    &__column {
        &:first-child {
            flex: 0 0 165px;
            @media (max-width: 560px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &:last-child {
            padding: 0px 0px 0px 45px;
            flex: 1 1 auto;
            @media (max-width: $pc) {
                padding: 0px 0px 0px 25px;
            }
            @media (max-width: $tablet) {
                padding: 0px 0px 0px 45px;
            }
        }
        @media (max-width: 560px) {
            text-align: center;
            &:last-child {
                padding: 0px 20px;
            }
        }
    }
    &__contact {
    }

    &__delivery {
    }
}
.contact-footer {
    &__logo {
        // background: url("../img/main/about/bg_logo.png") 0 0 no-repeat;
        display: inline-block;
        margin: 0px 0px 25px 0px;
        @media (max-width: 560px) {
            margin: 0px 0px 15px 0px;
        }
    }

    &__phones {
        // background: url("../img/icons/phone.png") left no-repeat;

        margin: 0px 0px 50px 0px;
        padding: 0px 0px 0px 35px;
        p {
            margin: 0px 0px 10px 0px;
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
        }
        @media (max-width: 560px) {
            padding: 0px 0px 0px 15px;
        }
        @media (max-width: $tablet) {
            margin: 0px 0px 30px 0px;
        }
    }

    &__phone {
        font-weight: 900;
        text-transform: uppercase;
        color: #333333;
    }
}

.delivery-footer {
    &__title {
        font-weight: 900;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #999999;
        margin: 0px 0px 15px 0px;
        @media (max-width: 560px) {
            margin: 0px 0px 5px 0px;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0px -15px;
        @media (max-width: 560px) {
            justify-content: center;
            align-items: center;
            margin: 0px -15px 10px -15px;
        }
    }

    &__item {
        padding: 15px;
        img {
            @extend %grayfilter;
        }
    }
}
.social-footer {
    &__item {
        margin: 0px 15px 0px 0px;
        &:last-child {
            margin: 0px 0px 0px 0px;
        }
    }
}
