.footer {
    position: relative;
    &__container {
    }

    &__body {
        @media (min-width: $tablet) {
            display: flex;
            justify-content: center;
        }
    }

    &__column {
        flex: 0 1 50%;
        margin-bottom: rem(25);
        &:first-child {
            display: flex;
            flex-direction: column;
        }
    }

    &__block {
    }

    &__cards {
        display: inline-flex;
        gap: rem(25);
        align-items: center;
        @media (max-width: $tablet) {
            justify-content: center;
            margin-top: rem(25);
        }
    }

    &__icon {
    }

    &__widgets {
    }

    &__bottom {
        border-top: rem(1) solid $gray_04;
        padding: rem(10) 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $mobileSmall) {
            display: block;
            text-align: center;
        }
    }

    &__copy {
        display: inline-block;
        flex: 1 1 auto;
        font-size: rem(12);
        line-height: math.div(18, 12);
        font-weight: 300;
        color: $gray_03;
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(10);
        }
    }

    &__socials {
    }
}

.block-footer {
    display: flex;
    flex: 1 1 auto;
    @media (max-width: em(560)) {
        display: block;
    }
    &__column {
        &:first-child {
            flex: 0 0 rem(165);
            @media (max-width: em(560)) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &:last-child {
            flex: 1 1 auto;
            @media (min-width: em(560)) {
                @include adaptiveValue("padding-left", 45, 25, 1170, 991.98, 1);
            }
        }
        @media (max-width: em(560)) {
            text-align: center;
        }
    }
    &__contact {
    }

    &__delivery {
    }
}

.contact-footer {
    &__logo {
        display: inline-flex;
        margin-bottom: rem(25);
        img {
            max-width: 100%;
        }
    }

    &__phones {
        display: flex;
        align-items: center;
        gap: rem(10);
        margin-bottom: rem(25);
    }

    &__icon {
        margin-top: rem(-3);
        flex: 0 0 rem(20);
    }

    &__phone {
        display: block;
        font-weight: 900;
        text-transform: uppercase;
        color: $gray_01;
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gray_03;
            }
        }
    }
}

.delivery-footer {
    &__title {
        font-weight: 900;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $gray_03;
        margin-bottom: rem(15);
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include adaptiveValue("gap", 30, 15, 1170, 767.98, 1);
        @media (max-width: em(560)) {
            justify-content: center;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__item {
        img {
            max-width: 100%;
            @extend %grayfilter;
        }
    }
}

.social-footer {
    display: flex;
    align-items: center;
    gap: rem(15);
    @media (max-width: $mobileSmall) {
        justify-content: center;
    }
    &__item {
    }
}
