//====================================================================================================
.mainslider {
    &__slide {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);
            pointer-events: none;
            z-index: 1;
            @media (max-width: $mobile) {
                background: $black;
                opacity: 0.5;
            }
        }
    }

    &__body {
        @media (max-width: $mobileSmall) {
            margin: 0px rem(-15);
        }
    }

    &__dotts {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        counter-reset: item;
        @include adaptiveValue("gap", 50, 15, 1170, 767.98, 1);
        margin-top: rem(-27.5);
        @media (max-width: $mobile) {
            margin-top: rem(-20);
        }
        .swiper-pagination-bullet {
            cursor: pointer;
            width: rem(55);
            height: rem(55);
            border-radius: 50%;
            border: rem(2) solid $white;
            position: relative;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media (max-width: $mobile) {
                width: rem(40);
                height: rem(40);
            }
            &::after {
                opacity: 0;
                transition: all 0.3s ease 0s;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $secondary;
                font-size: rem(16);
                font-weight: 900;
                color: $white;
                counter-increment: item;
                content: counter(item);
            }
        }
        .swiper-pagination-bullet-active {
            &::after {
                opacity: 1;
            }
        }
    }
}

.slide-mainslider {
    opacity: 0;
    visibility: hidden;
    &.swiper-slide-visible {
        visibility: visible;
        opacity: 1;
    }
    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: rem(20) rem(35) rem(65) rem(35);
        position: relative;
        z-index: 5;
        @media (max-width: $mobile) {
            padding: rem(20) rem(15) rem(40) rem(15);
        }
    }

    &__title {
        color: $gray_01;
        @include adaptiveValue("font-size", 48, 35, 1170, 767.98, 1);
        line-height: math.div(44, 48);
        font-weight: 900;
        text-transform: uppercase;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30, 1170, 767.98, 1);
        }
        span {
            display: block;
            color: $secondary;
        }
        @media (max-width: $mobile) {
            color: $white;
        }
    }

    &__text {
        flex: 1 1 auto;
        &:not(:last-child) {
            margin-bottom: rem(14);
        }
    }

    &__footer {
        text-align: center;
    }

    &__price {
        @include adaptiveValue("font-size", 36, 30, 1170, 767.98, 1);
        font-weight: 900;
        color: $white;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 25, 20, 170, 767.98, 1);
        }
    }

    &__button {
        height: rem(34);
        display: inline-flex;
        justify-content: center;
        gap: rem(10);
        align-items: center;
        padding: 0px rem(18);
        border: rem(3) solid $white;
        border-radius: rem(15);
        transition: all 0.3s ease 0s;
        span {
            font-weight: 900;
            text-transform: uppercase;
            color: $white;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
        img {
            max-width: rem(14);
        }
    }
}

.text-mainslider {
    color: $gray_01;
    line-height: math.div(24, 14);
    font-weight: 900;
    text-transform: uppercase;
    p:first-child {
        font-family: Roboto;
        font-size: rem(18);
        color: $black;
        span {
            color: $secondary;
        }
        @media (max-width: $mobile) {
            color: $white;
        }
    }
    p:nth-child(2) {
        line-height: 1;
        padding: rem(7) rem(10);
        display: inline-block;
        background-color: #909090;
        color: $white;
        @media (max-width: $mobile) {
            background-color: $black;
        }
    }
    p:nth-child(3) {
        color: $black;
        span {
            color: #979797;
        }
        @media (max-width: $mobile) {
            color: $white;
            span {
                color: $secondary;
            }
        }
    }
}

//====================================================================================================

.products-slider {
    &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 50, 30, 1170, 767.98, 1);
    }
    &__header {
        @include adaptiveValue("margin-bottom", 30, 20, 1170, 767.98, 1);
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__title {
        flex: 1 1 auto;
        font-family: UniSans;
        font-size: rem(36);
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $gray_04;
        @media (max-width: $mobile) {
            margin-bottom: rem(20);
        }
    }

    &__controll {
        height: rem(30);
        flex: 0 0 rem(160);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: $mobile) {
            justify-content: center;
            align-items: center;
        }
    }

    &__slide {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
        @include adaptiveValue("gap", 30, 20, 1170, 767.98, 1);
    }
}

//========================================================================================================================================================

.brands-slider {
    border-top: rem(3) dashed $gray_04;
    border-bottom: rem(3) dashed $gray_04;
    @include adaptiveValue("padding-top", 25, 10, 991.98, 479.98, 1);
    @include adaptiveValue("padding-bottom", 25, 10, 991.98, 479.98, 1);
    &__container {
        position: relative;
    }

    &__body {
        margin: 0px rem(60);
        @media (max-width: $mobileSmall) {
            margin: 0px rem(45);
        }
    }

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px rem(10);
        img {
            @extend %grayfilter;
            max-width: 100%;
            transition: all 0.5s ease 0s;
            cursor: pointer;
        }
    }

    &__controll {
        position: absolute;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        top: 50%;
        left: 0;
        margin-top: rem(-15);
        width: 100%;
        .slider-controll__arrow_prev {
            pointer-events: all;
            position: absolute;
            top: 0;
            @include adaptiveValue("left", 25, 15, 1170, 767.98, 1);
        }
        .slider-controll__arrow_next {
            pointer-events: all;
            position: absolute;
            top: 0;
            @include adaptiveValue("right", 25, 15, 1170, 767.98, 1);
        }
    }
}

//========================================================================================================================================================

.text-block {
    &:last-child {
        .text-block__image {
            display: none;
        }
        .text-block__list li {
            br {
                display: none;
            }
        }
    }
    &__container {
    }

    &__body {
        position: relative;
        color: $mainColor;
        padding: rem(45) rem(37) rem(60) rem(37);
        @media (max-width: $tablet) {
            @include adaptiveValue("padding", 40, 20, 991.98, 479.98, 1);
        }
        @media (max-width: $mobileSmall) {
            margin: 0px rem(-15);
            padding: rem(20) rem(15);
        }
    }

    &__title {
        font-family: UniSans;
        font-size: rem(30);
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $mainColor;
        @include adaptiveValue("margin-bottom", 30, 10, 1170, 479.98, 1);
    }

    &__row {
        @media (min-width: $pc) {
            grid-template-columns: 1fr rem(500);
        }
        @media (min-width: $tablet) {
            display: grid;
            gap: rem(60);
            grid-template-columns: 1fr 1fr;
        }
    }

    &__column {
        font-size: rem(12);
        line-height: math.div(20, 12);
        letter-spacing: 0.025em;
        position: relative;
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
        p {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 25, 10, 1170, 767.98, 1);
            }
        }
    }

    &__label {
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
    }

    &__list {
        li {
            text-transform: none;
            span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-right: rem(17);
                margin-left: rem(7);
                transform: translate(rem(0), rem(1));
                width: rem(11);
                img {
                    max-width: 100%;
                }
            }
            @media (max-width: $pc) {
                br {
                    display: none;
                }
            }
        }
    }

    &__bg-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__image {
        position: absolute;
        bottom: rem(-180);
        right: rem(-30);
        @media (max-width: $pc) {
            display: none;
        }
    }
}

//========================================================================================================================================================

.info-menu {
    border-top: rem(2) dashed $gray_04;
    border-bottom: rem(2) dashed $gray_04;

    &__container {
        @include adaptiveValue("padding-top", 25, 15, 991.98, 479.98, 1);
        @include adaptiveValue("padding-bottom", 25, 15, 991.98, 479.98, 1);
    }

    &__body {
        display: inline-block;
        @media (max-width: $tablet) {
            display: block;
        }
    }

    &__line {
        display: flex;
        align-items: center;
        padding: rem(15) rem(10) 0px 0px;
        &:not(:last-child) {
            padding: 0 rem(10) rem(15) 0px;
            border-bottom: rem(1) solid $gray_04;
        }
        @media (max-width: $tablet) {
            justify-content: center;
        }

        @media (max-width: em(500)) {
            display: block;
            padding-right: 0 !important;
        }
    }

    &__label {
        font-weight: 900;
        letter-spacing: 0.025em;
        color: $gray_01;
        @include adaptiveValue("margin-right", 30, 10, 1170, 479.98, 1);
        @media (max-width: em(500)) {
            font-size: rem(16);
            margin-bottom: rem(10);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 30, 10, 1170, 479.98, 1);
        @media (max-width: em(500)) {
            display: block;
            text-align: center;
        }
    }

    &__item {
        @media (max-width: em(500)) {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__link {
        display: inline-flex;
        font-size: rem(12);
        font-weight: 300;
        transition: all 0.3s ease 0s;
        color: $primary_03;
        @media (any-hover: hover) {
            &:hover {
                color: $gray_01;
            }
        }
        @media (max-width: em(500)) {
            font-size: rem(16);
            justify-content: center;
        }
    }
}
