//====================================================================================================
.mainslider {
    &__slide {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);
            pointer-events: none;
            z-index: 1;
            @media (max-width: $mobile) {
                background: $black;
                opacity: 0.5;
            }
        }
    }

    &__body {
        @media (max-width: $mobileSmall) {
            margin: 0px rem(-15);
        }
    }

    &__dotts {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        counter-reset: item;
        @include adaptiveValue("gap", 50, 15, 1170, 767.98, 1);
        transform: translate(0px, -50%);
        .swiper-pagination-bullet {
            cursor: pointer;
            @include adaptiveValue("height", 55, 40, 1170, 767.98, 1);
            @include adaptiveValue("width", 55, 40, 1170, 767.98, 1);
            border-radius: 50%;
            border: rem(2) solid $white;
            position: relative;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            &::after {
                opacity: 0;
                transition: all 0.3s ease 0s;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $secondary;
                font-size: rem(16);
                font-weight: 900;
                color: $white;
                counter-increment: item;
                content: counter(item);
            }
        }
        .swiper-pagination-bullet-active {
            &::after {
                opacity: 1;
            }
        }
    }
}

.slide-mainslider {
    opacity: 0;
    visibility: hidden;
    &.swiper-slide-visible {
        visibility: visible;
        opacity: 1;
    }
    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: rem(20) rem(35) rem(65) rem(35);
        position: relative;
        z-index: 5;
        @media (max-width: $mobile) {
            padding: rem(20) rem(15) rem(40) rem(15);
        }
    }

    &__title {
        color: $gray_01;
        @include adaptiveValue("font-size", 48, 35, 1170, 767.98, 1);
        line-height: math.div(44, 48);
        font-weight: 900;
        text-transform: uppercase;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30, 1170, 767.98, 1);
        }
        span {
            display: block;
            color: $secondary;
        }
        @media (max-width: $mobile) {
            color: $white;
        }
    }

    &__text {
        flex: 1 1 auto;
        &:not(:last-child) {
            margin-bottom: rem(14);
        }
    }

    &__footer {
        text-align: center;
    }

    &__price {
        @include adaptiveValue("font-size", 36, 30, 1170, 767.98, 1);
        font-weight: 900;
        color: $white;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 25, 20, 170, 767.98, 1);
        }
    }

    &__button {
        height: rem(34);
        display: inline-flex;
        justify-content: center;
        gap: rem(10);
        align-items: center;
        padding: 0px rem(18);
        border: rem(3) solid $white;
        border-radius: rem(15);
        transition: all 0.3s ease 0s;
        span {
            font-weight: 900;
            text-transform: uppercase;
            color: $white;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
        img {
            max-width: rem(14);
        }
    }
}

.text-mainslider {
    color: $gray_01;
    line-height: math.div(24, 14);
    font-weight: 900;
    text-transform: uppercase;
    p:first-child {
        font-family: Roboto;
        font-size: rem(18);
        color: $black;
        span {
            color: $secondary;
        }
        @media (max-width: $mobile) {
            color: $white;
        }
    }
    p:nth-child(2) {
        line-height: 1;
        padding: rem(7) rem(10);
        display: inline-block;
        background-color: #909090;
        color: $white;
        @media (max-width: $mobile) {
            background-color: $black;
        }
    }
    p:nth-child(3) {
        color: $black;
        span {
            color: #979797;
        }
        @media (max-width: $mobile) {
            color: $white;
            span {
                color: $secondary;
            }
        }
    }
}

//====================================================================================================

.products-slider {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 30px 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px 20px 0px;
            display: block;
            text-align: center;
        }
    }

    &__title {
        flex: 1 1 auto;
        font-family: UniSans;
        font-size: 36px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #dadada;
        @media (max-width: $mobile) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__control {
        height: 30px;
        flex: 0 0 160px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: $mobile) {
            justify-content: center;
            align-items: center;
        }
    }

    &__info {
        padding: 0px 20px;
        letter-spacing: 0.025em;
        font-weight: 500;
        color: #999999;
        .swiper-pagination-current {
            font-size: 30px;
            color: $gray_01;
            line-height: 1.2;
            font-weight: 900;
        }
    }

    &__items {
    }
}

//========================================================================================================================================================

.brands-slider {
    border-top: 3px dashed #dadada;
    border-bottom: 3px dashed #dadada;
    padding: 25px 0px;
    @media (max-width: $mobile) {
        padding: 15px 0px;
    }
    @media (max-width: $mobileSmall) {
        padding: 10px 0px;
    }
    &__container {
        position: relative;
    }

    &__body {
        margin: 0px 45px;
        @media (max-width: $tablet) {
            margin: 0px 60px;
        }
        @media (max-width: $mobileSmall) {
            margin: 0px 45px;
        }
    }

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        img {
            @extend %grayfilter;
            max-width: 100%;
            transition: all 0.5s ease 0s;
            cursor: pointer;
        }
    }

    &__arrows {
    }

    &__arrow {
        position: absolute;
        top: 50%;
        margin: -15px 0px 0px 0px;
        &_prev {
            left: 25px;
            @media (max-width: $tablet) {
                left: 15px;
            }
            @media (max-width: $mobile) {
                left: 10px;
            }
        }

        &_next {
            right: 25px;
            @media (max-width: $tablet) {
                right: 15px;
            }
            @media (max-width: $mobile) {
                right: 10px;
            }
        }
    }
}

//========================================================================================================================================================

.text-block {
    &__container {
        padding: 45px 37px 60px 37px;
        // background: url("../img/main/partners/bg.png") 0 0 repeat;
        @media (max-width: $tablet) {
            padding: 40px;
        }
        @media (max-width: $mobile) {
            padding: 20px;
        }
        @media (max-width: $mobileSmall) {
            padding: 20px 10px;
        }
    }

    &__body {
        color: $white;
    }

    &__title {
        font-family: UniSans;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #22b7ca;
        margin: 0px 0px 30px 0px;
        @media (max-width: $tablet) {
            margin: 0px 0px 15px 0px;
        }
        @media (max-width: $mobileSmall) {
            margin: 0px 0px 10px 0px;
        }
    }

    &__row {
        @media (min-width: $tablet) {
            display: flex;
            margin: 0px -30px;
        }
    }

    &__column {
        position: relative;
        @media (min-width: $tablet) {
            padding: 0px 30px;
            flex: 0 1 50%;
            &:last-child {
                max-width: 545px;
            }
        }
        p {
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.025em;
            margin: 0px 5px 25px 5px;
            &:last-child {
                margin: 0px 5px;
            }
            @media (max-width: $tablet) {
                margin: 0px 0px 15px 0px;
                &:last-child {
                    margin: 0px 0px 15px 0px;
                }
            }
            @media (max-width: $mobile) {
                margin: 0px 0px 10px 0px;
                &:last-child {
                    margin: 0px 0px 10px 0px;
                }
            }
        }
    }

    &__label {
        font-size: 12px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
    }

    &__list {
        li {
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.025em;
            text-transform: none;
            &::before {
                content: "";
                margin: 0px 17px -1px 7px;
                display: inline-block;
                width: 11px;
                height: 11px;
                // background: url("../img/icons/arrow_li.png") left no-repeat;
            }
            @media (max-width: $pc) {
                br {
                    display: none;
                }
            }
        }
    }
    &__image {
        position: absolute;
        bottom: -180px;
        right: -40px;
        @media (max-width: $pc) {
            display: none;
        }
    }
}

//========================================================================================================================================================

.info-menu {
    border-top: 3px dashed #dadada;
    border-bottom: 3px dashed #dadada;

    &__container {
        padding: 24px 0px;
        @media (max-width: $mobile) {
            padding: 15px 0px;
        }
    }

    &__body {
        display: inline-block;
        @media (max-width: $tablet) {
            display: block;
        }
    }

    &__line {
        display: flex;
        border-bottom: 1px solid #efefef;
        padding: 0px 10px 13px 10px;
        align-items: center;
        @media (max-width: $tablet) {
            justify-content: center;
        }

        @media (max-width: 500px) {
            display: block;
        }
        &:last-child {
            border: 0;
            padding: 13px 10px 0px 10px;
        }
    }

    &__label {
        font-weight: 900;
        letter-spacing: 0.025em;
        color: $gray_01;
        @media (max-width: 500px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 0px 10px 0px;
            font-size: 16px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        @media (max-width: 500px) {
            display: block;
            text-align: center;
        }
    }

    &__link {
        display: inline-flex;
        font-size: 12px;
        font-weight: 300;
        transition: all 0.3s ease 0s;
        color: #1ab9ce;
        margin: 0px 0px 0px 30px;
        @media (max-width: $tablet) {
            margin: 0px 0px 0px 15px;
        }
        @media (min-width: $tablet) {
            &:hover {
                color: $gray_01;
            }
        }
        @media (max-width: 500px) {
            font-size: 16px;
            justify-content: center;
            margin: 0px 0px 5px 0px;
        }
    }
}
