@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Play:700&display=swap&subset=cyrillic-ext");
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Roboto";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$white: #fff;
$black: #000;
$secondary: #f68038;
$primary_01: #36949f;
$primary_02: #068292;
$primary_03: #1ab9ce;
$primary_04: #098494;
$gray_01: #333;
$gray_02: #666;
$gray_03: #999999;
$gray_04: #dadada;
$gray_05: #f2f2f2;

$mainColor: $white; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1400;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1140;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
    // Скролл заблокирован
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
    // Сайт загружен
    .loaded & {
    }
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    > * {
        min-width: 0;
    }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "side";

//========================================================================================================================================================

.page {
    padding-top: rem(160);
    flex: 1 1 auto;
    @media (max-width: $mobile) {
        padding-top: rem(135);
    }
    @media (max-width: em(640)) {
        padding-top: rem(90);
    }

    &__container {
        @media (min-width: $tablet) {
            display: flex;
        }
    }

    &__side {
        flex: 0 0 rem(260);
        position: relative;
        z-index: 10;
        margin-bottom: rem(30);
        @media (max-width: $mobile) {
            margin-bottom: rem(20);
        }
    }

    &__news-side {
        margin-bottom: rem(30);
    }
    &__rewiews-side {
        &:not(:last-child) {
            margin-bottom: rem(50);
        }
    }

    &__content {
        margin-bottom: rem(20);
        @media (min-width: $tablet) {
            flex: 1 1 auto;
            min-width: 0;
            padding-left: rem(30);
        }
    }

    &__info {
        display: flex;
    }
    &__brands {
        margin: 0px 0px 30px 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__text {
        margin: 0px 0px 40px 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__info-menu {
        margin: 0px 0px 40px 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__search {
        position: relative;
        z-index: 5;
        margin-bottom: rem(22);
    }

    &__slider {
        margin: 0px 0px 65px 0px;
        @media (max-width: $tablet) {
            margin: 0px 0px 25px 0px;
        }
    }

    &__products {
    }
}

//========================================================================================================================================================

.breadcrumbs {
    overflow: auto;
    margin: 30px 0px 25px 0px;
    height: 16px;
    &__list {
        display: flex;
        align-items: center;
        white-space: nowrap;
        li {
            padding: 0px 20px 0px 0px;
            margin: 0px 10px 0px 0px;
            // background: url("../img/catalog/icons/arrow_spoller.png") right / 10px no-repeat;
            &:last-child {
                margin: 0;
                background: none !important;
            }
        }
    }

    &__link {
        font-weight: 300;
        text-decoration: underline;
        color: #1ab9ce;
    }
    &__item {
        font-weight: 300;
        color: #999999;
    }
}

//========================================================================================================================================================

.items-products {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    @media (max-width: $tablet) {
        margin: 0px -10px;
    }
    &__column {
        margin: 0px 0px 30px 0px;
        flex: 0 1 33.333%;
        padding: 0px 15px;
        @media (max-width: 1200px) {
            flex: 0 1 50%;
        }
        @media (max-width: $tablet) {
            margin: 0px 0px 20px 0px;
            padding: 0px 10px;
            flex: 0 1 33.333%;
        }
        @media (max-width: 840px) {
            flex: 0 1 50%;
        }
        @media (max-width: 600px) {
            flex: 1 1 100%;
        }
    }
}
.item-product {
    position: relative;
    padding: 15px 0;
    height: 100%;
    border: 1px solid #f5f5f5;
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
        &:hover {
            .item-product__labels {
                opacity: 0;
            }
            .item-product__body {
                opacity: 0;
            }
        }
    }
    &__labels {
        transition: all 0.5s ease 0s;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    &__label {
        font-weight: 900;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        text-transform: uppercase;
        margin: 0px 0px 10px 0px;
        height: 21px;
        padding: 0px 15px;
        background-color: #fd8424;
    }

    &__image {
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        &_side {
            height: 195px;
        }
        img {
            max-width: 100%;
            max-height: 240px;
        }
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease 0s;
        padding: 0px 25px;
    }

    &__title {
        flex: 1 1 auto;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #36949f;
        display: inline-block;
        margin: 0px 0px 5px 0px;
        span {
            display: block;
            font-weight: 900;
        }
        @media (min-width: $tablet) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__old-price {
        flex: 1 1 100%;
        text-align: right;
        font-size: 18px;
        font-weight: 300;
        text-decoration: line-through;
        color: #999999;
        &::after {
            font-size: 14px;
        }
    }

    &__add {
        width: 40px;
        height: 40px;
        // background: url("../img/main/offer/icon01.png") 0 0 no-repeat;
        transition: all 0.3s ease 0s;
        @media (min-width: $tablet) {
            &:hover {
                // background: url("../img/main/offer/icon02.png") 0 0 no-repeat;
            }
        }
    }

    &__price {
        font-size: 24px;
        font-weight: 900;
        color: #333333;
        &::after {
            font-size: 20px;
        }
    }
    &__hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.5s ease 0s;
        opacity: 0;
        @media (min-width: $tablet) {
            &:hover {
                opacity: 1;
            }
        }
    }
}
.hover-item-product {
    background-color: rgba(0, 0, 0, 0.84);
    border: 5px solid #f68038;
    padding: 17px 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    &__title {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #c2c2c2;
        margin: 0px 0px 25px 0px;
        span {
            color: #fff;
            font-weight: 900;
        }
    }

    &__options {
        flex: 1 1 auto;
    }

    &__cart {
        width: 57px;
        height: 57px;
        margin: 0px auto 25px auto;
        // background: url("../img/main/catalog/03.png") 0 0 no-repeat;
        &_catalog {
            margin: 0px 0px 0px 0px;
        }
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__old-price {
        margin-bottom: 7px;
        flex: 1 1 100%;
        text-align: right;
        font-size: 18px;
        font-weight: 300;
        text-decoration: line-through;
        color: #999999;
        &::after {
            font-size: 14px;
        }
    }

    &__compare {
        // background: url("../img/catalog/icons/compare.png") left no-repeat;
        margin: 20px 0px 0px 0px;
        padding: 2px 0px 2px 30px;
        span {
            display: inline-block;
            line-height: 14px;
            font-weight: 300;
            color: #ffffff;
            transition: all 0.3s ease 0s;
            border-bottom: 1px dashed;
            @media (min-width: $tablet) {
                &:hover {
                    color: #f68038;
                }
            }
        }
    }

    &__stock {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 6px 12px;
        border-radius: 20px;
        color: #f68038;
    }

    &__price {
        font-size: 24px;
        font-weight: 900;
        &::after {
            font-size: 20px;
        }
    }
}
.options-item-product {
    &__item {
        margin: 0px 0px 10px 0px;
    }

    &__label {
        margin: 0px 0px 5px 0px;
    }

    &__value {
        font-weight: 900;
        color: #f68038;
    }
}

//========================================================================================================================================================
